#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}


.comment-list {
  list-style-type: none;
  padding-right: 30px;
  margin-left: none;
}

.comment {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-author {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: black;
}

.comment-date {
  color: rgb(109, 108, 108);
  font-size: 0.9rem;
}

.comment-body {
  color: black;
}

